<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
  <link rel="stylesheet" href="~/Content/CSS/styles.css" type="text/css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="container">
    @RenderBody()
  </div>
</body>
</html>
