@{
  Layout = "Shared/_Layout.cshtml";
}
<div class="pageOne">
  <div class="text">
    <h3>WO<span id="offset">RD COU</span>NT</h1>
  </div>
  <div class="prompt">Count a word in your sentence</div>
  <div class="content">
    <form action="/result" method="post">
      <div class="userForm">
          <label for="word">Word:</label><br>
          <input type="text" id="word" name="word"><br>
          <div class="line-separator"></div>
          <label for="sentence">Sentence:</label><br>
          <input type="text" id="sentence" name="sentence"><br>
          <div class="line-separator"></div>
      </div>
      <button type="submit" class="btn" id="button">Submit</button>
    </form>
  <div>
</div>
